@import "../../../common/theme/mixins.scss";

.sales-title {
  color: black;
  font-size: 4vw;
  line-height: 120%;
  margin: 6vw auto;
  display: block;
  text-align: center;
}

@include respond-to(medium) {
  .sales-title {
    font-size: 32px;
    margin: 40px 5%;
  }
}
