@import "../../../common/theme/mixins.scss";

.blue {
  background: #001734;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: #002652;
  }

  .contact-button-text {
    color: white;
    font-family: var(--dmsans);
  }
}

.white {
  background: white;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: #f5f5f5;
  }

  .contact-button-text {
    color: #001734;
  }
}

.contact-button {
  height: 48px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  border: none;
  cursor: pointer;
  border: 1px solid white;

  a {
    text-decoration: none;
  }

  &-icon {
    svg {
      fill: white;
    }
  }
}

.landing-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;

  a {
    width: fit-content;
    padding: 18px 82px;
    font-family: var(--inter);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-decoration: none;
    text-transform: uppercase;
  }

  &.primary {
    background: linear-gradient(90deg, #4e281f 0%, #7c453a 100%);

    a {
      color: #d4c2ac;
    }
  }

  &.secondary {
    background: linear-gradient(90deg, #4e281f 0%, #7c453a 100%);

    a {
      color: white;
    }
  }
}

@include respond-to(medium) {
  .landing-button {
    width: 90%;
    max-width: 90%;

    a {
      font-size: 16px;
      padding: 10px 52px;
    }
  }
}
