@import "../../../common/theme/mixins.scss";

.hero {
  height: 76vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &-title {
    color: white;
    font-size: 3.2vw;
    font-family: var(--marcellus);
  }

  &-text {
    color: white;
    font-size: 1.4vw;
    margin: 40px 0;
    font-family: var(--dmsans);
    text-align: justify;
  }
}

@include respond-to(medium) {
  .hero {
    height: unset;
    display: flex;
    align-items: center;
    margin: 30px 5%;

    &-title {
      font-size: 32px;
      text-align: center;
      margin: 0 5%;
      font-family: var(--marcellus);
    }

    &-text {
      font-size: 16px;
      text-align: center;
      margin: 30px 5%;
    }
  }
}
