@import "./mixins.scss";

.hero-container {
  padding: 5vh 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 80px;
  background: #001734;

  > section {
    width: 50%;
  }
}

.who-we-are-background {
  color: transparent;
  width: 100%;
  height: 200px;
  object-fit: cover;
  filter: blur(1px);
  margin: 40px 0;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.4);
}

.selfie-image {
  width: 400px;
  height: 500px;
  object-fit: cover;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.4);
}

@include respond-to(medium) {
  .hero-container {
    padding: unset;
    margin: 0 0 5vh 0;
    flex-direction: column;

    > section {
      width: 100%;
    }
  }

  .selfie-image {
    width: 90vw;
  }
}
