@import "./mixins.scss";

.hero-container {
  margin: 12vh 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > section {
    width: 50%;
  }
}

@include respond-to(medium) {
  .hero-container {
    margin: 12vh 0 5vh 0;
    flex-direction: column;

    > section {
      width: 100%;
    }
  }
}
