@import "../../../common/theme/mixins.scss";

.landing-card {
  &-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff6eb;
    padding: 100px 0;
  }

  &-wrapper {
    width: 100%;
    max-width: 1432px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 60px;
    padding: 60px 0;
  }

  &-item {
    width: 273px;
    height: 410px;
    display: flex;
    border-radius: 7px;
    background: #4e281f;
    justify-content: center;
    padding: 30px 18px;
    box-sizing: border-box;
    position: relative;

    &:after {
      content: "";
      width: 160px;
      height: 4px;
      display: block;
      background: #d4c2ac;
      position: absolute;
      bottom: 0;
    }
  }

  &-item-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &-item-title {
    color: #fff;
    text-align: center;
    font-family: Folktune;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  &-item-text {
    color: #fff;
    font-family: var(--inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

    &:before {
      content: "";
      display: block;
      border-radius: 2px;
      background: #d9d9d9;
      min-width: 10px;
      min-height: 10px;
    }
  }
}

.portrait {
  width: 100%;
  max-height: 600px;
  background: #fff6eb;
  display: flex;
  align-items: center;
  overflow: hidden;

  img {
    width: 80%;
    height: 100%;
    object-fit: contain;
  }
}

@include respond-to(medium) {
  .landing-card {
    &-container {
      padding: 40px 0;
    }

    &-wrapper {
      row-gap: 28px;
      padding: 10px 0 40px 0;
    }
  }

  .portrait {
    max-height: unset;
    justify-content: center;

    img {
      width: 90%;
      max-height: unset;
    }
  }
}
