@import "../../../common/theme/mixins.scss";

.carousel {
  width: 100%;
  height: 76vh;
  margin: 2vh 0 2vh 0;
  background: #001734;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  &-item {
    height: 310px;
    padding: 25px;
    background: #002859;
    max-width: 400px;
    box-sizing: border-box;
    border-radius: 25px;
  }

  &-item-title {
    font-size: 32px;
    color: white;
    line-height: 120%;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 20px;
  }

  &-item-text {
    color: white;
  }

  .ant-carousel {
    width: 400px;
  }

  .slick-track {
    display: flex !important;
    column-gap: 20px !important;
  }

  .slick-slider > button {
    &:after {
      width: 30px;
      height: 30px;
      border-inline-width: 6px 0;
      border-block-width: 6px 0;
    }
  }

  .slick-prev,
  .slick-next {
    display: block;
    position: unset !important;
    transform: rotate(90deg) !important;
  }

  .slick-prev {
    margin: 40px auto;
  }

  .slick-next {
    margin: 20px auto;
  }
}

@include respond-to(medium) {
  .carousel {
    width: 100%;
    height: 60vh;
    border-radius: 15px;
    align-items: flex-start;
    padding-top: 25px;
    position: relative;

    &-item {
      height: 340px;
    }

    &-item-title {
      font-size: 28px;
      line-height: 120%;
      margin-bottom: 20px;
      font-family: "Times New Roman", Times, serif;
    }

    .slick-list {
      padding: 0 20px !important;
    }

    .slick-track {
      display: flex !important;
      column-gap: 20px !important;
    }

    .slick-dots {
      left: 0 !important;
      top: 54vh !important;
      width: 100% !important;
      height: unset !important;
      bottom: unset !important;
      transform: unset !important;
      position: absolute !important;
      flex-direction: row !important;
      justify-content: center !important;

      li {
        height: 5px !important;
        width: 20px !important;
        margin: 0 16px !important;

        button {
          height: 5px !important;
          width: 20px !important;
        }

        &:not(.slick-active) {
          button {
            opacity: 0.2 !important;
          }
        }
      }
    }
  }
}
