@import "../../../common/theme/mixins.scss";

.sales-title,
.main-title {
  color: black;
  font-size: 4vw;
  line-height: 120%;
  margin: 6vw auto;
  display: block;
  text-align: center;
  font-family: var(--marcellus);
}

.main-title {
  margin: 6vw auto 0 auto;
  font-family: var(--marcellus);
}

.sub-title {
  color: black;
  font-size: 2.4vw;
  line-height: 120%;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--marcellus);
}

.description {
  color: #5f5f5f;
  font-size: 16px;
  line-height: 120%;
  display: block;
  text-align: center;
  margin: 40px 5% 6vw 5%;
  font-family: var(--dmsans);
}

.anchors-title {
  color: #001734;
  font-size: 20px;
  line-height: 120%;
  display: block;
  margin: 20px 0;
  font-family: var(--dmsans);
}

.paragraph {
  color: #001734;
  font-size: 16px;
  line-height: 120%;
  display: block;
  font-family: var(--dmsans);
  text-align: justify;
}

.article {
  margin: 60px 0;
  font-family: var(--dmsans);
}

.landing-hero-title {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Folktune;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
}

.landing-hero-subtitle {
  color: #fff;
  font-family: var(--inter);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  span {
    color: #d4c2ac;
    font-family: var(--inter);
    font-size: 26px;
    font-style: italic;
    font-weight: 600;
    line-height: 100%;
  }
}

.landing-subtitle {
  text-align: center;
  font-family: Folktune;
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;

  &.black {
    color: #000;
  }

  &.whitee {
    color: #fff;
  }
}

.landing-text {
  color: #fff;
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}

@include respond-to(medium) {
  .sales-title,
  .main-title {
    font-size: 32px;
    margin: 40px 5% 0 5%;
  }

  .sales-title {
    font-size: 32px;
    margin: 40px 5% 40px 5%;
  }

  .sub-title {
    font-size: 20px;
  }

  .description {
    margin: 40px 5%;
  }

  .landing-hero-title {
    font-size: 40px;
    text-align: center;
  }

  .landing-hero-subtitle {
    font-size: 18px;
    text-align: center;

    span {
      font-size: 18px;
      text-align: center;
    }
  }

  .landing-subtitle {
    font-size: 30px;
    text-align: center;
    line-height: 50px;
  }

  .landing-text {
    font-size: 12px;
    text-align: center;
  }
}
